.tl-container {

    .tl-main {
    	position: relative;
    	width: 100%;
        overflow-x: scroll;

        &::-webkit-scrollbar { width: 0; }
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        .tl-period {
        	position: absolute;

            &:after {
            	content: ' ';
            	display: block;
            }

            .tl-point {
            	position: absolute;
            	cursor: pointer;
            	z-index: 100;

                &:after {
                	content: ' ';
                	display: block;
                	position: absolute;
                }
            }

            .tl-caption {
            	position: absolute;
            	display: block;
            	width: 100%;
            	cursor: pointer;
            }

            &.active {
            	z-index: 50;
            }
        }

        .tl-label, .tl-date-label {
        	position: absolute;
        }

        .tl-end, .tl-baseline, .tl-start {
        	position: absolute;
            &:after {
                content: ' ';
                display: block;
            	width: 100%;
            }
        }
    }

    .tl-display {
    	overflow-x: scroll;
    	white-space: nowrap;

        &::-webkit-scrollbar { width: 0; }
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        * {
        	white-space: normal;
        	display: inline-block;
        }

        .tl-card {
            max-width: 300px;
            @media (min-width: 576px) {
                max-width:540px
            }
            @media (min-width: 768px) {
                max-width:720px
            }
            @media (min-width: 992px) {
                max-width:960px
            }
            @media (min-width: 1200px) {
                max-width:1140px
            }
        }
    }

    .tl-dragging {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;

        cursor: grabbing!important;
        cursor: -moz-grabbing!important;
        cursor: -webkit-grabbing!important;

        * {
            -webkit-user-drag: none;
            user-drag: none;
            -webkit-touch-callout: none;
        }
    }

}
