/*!
 * Period Timeline v1.0
 * https://bitbucket.org/zapletin/jquery.periodtimeline
 * Copyright 2018 Dmitry Zapletin
 * Licensed under the MIT license
 */

@import "_skeleton.scss";

$txt_default: #000;
$txt_active: #fff;
$bg_default: #eee;
$bg_active: #20b2ea;

.tl-container {

    .tl-main {
        .tl-end, .tl-baseline, .tl-start {
            padding-top: 1rem;
            &:after {
            	height: 10px;
            	border-bottom: 2px solid $bg_default;
            }
        }

        .tl-period {
        	padding-bottom: 3rem;
            padding-top: 1rem;

            &:after {
            	height: 10px;
            	border-bottom: 2px solid $bg_default;
            }

            .tl-point {
                margin-left: -9px;
                width: 20px;
                height: 20px;

                &:after {
                	height: 14px;
                	width: 14px;
                	top: 3px;
                	left: 3px;
                	border-radius: 50%;
                	background-color: darken($bg_default, 3%);
                }

                &.active{
                    &:after {
                    	background-color: $bg_active;
                    }
                    &:before {
                    	content: ' ';
                    	display: block;
                    	position: absolute;
                    	height: 16px;
                    	width: 16px;
                    	border-radius: 50%;
                    	border: 2px $bg_active solid;
                    	background-color: $txt_active;
                    }
                }
            }

            .tl-caption {
            	font-size: 1rem;
            	background-color: $bg_default;
            	color: darken($bg_default, 40%);
            	height: 2rem;
            	padding: .3rem .5rem;
            	margin-bottom: .5rem;
            }

            &.active {
                &:after {
                	border-color: $bg_active;
                }
                .tl-point:after {
                    background-color: $bg_active;
                }
                .tl-caption {
                	background-color: $bg_active;
                	color: $txt_active;
                }
            }
        }

        .tl-label {
            top: 0;
            padding-bottom: 1.2rem;
            color: darken($bg_default, 40%);
        	font-size: 0.7rem;
        	border-left: 1px solid darken($bg_default, 3%);
        	padding-left: .2rem;
        }

        .tl-date-label {
            top: 1.6rem;
            color: darken($bg_default, 40%);
        	font-size: 0.7rem;
        	border-left: 1px solid darken($bg_default, 3%);
        	padding-left: .2rem;

            &.tl-date-label-day {
                padding-top: .5rem;
                font-size: 0.5rem;
            }
            &.tl-date-label-month {
                padding-top: 1.25rem;
                font-size: 0.5rem;
            }
            &.tl-date-label-year {
                padding-top: 2rem;
                font-weight: bold;
            }
        }
    }

    .tl-display {
        .tl-card {
            width: 15rem;
            padding: 1rem;
            margin: 0 1rem;
            background-color: $bg_default;
            color: $txt_default;
            &.active {
                background-color: $bg_active;
                color: $txt_active;
            }
        }
    }

}
